<!DOCTYPE html>
<html>
<head>
<!--  <link rel="stylesheet"-->
<!--        href="https://slot1-images.wikia.nocookie.net/__am/1571855023717/sasses/background-dynamic%3Dfalse%26background-image%3Dhttps%253A%252F%252Fvignette.wikia.nocookie.net%252Fkimetsu-no-yaiba%252Fimages%252F5%252F50%252FWiki-background%252Frevision%252Flatest%253Fcb%253D20181213011000%26background-image-height%3D750%26background-image-width%3D1600%26color-body%3D%2523900c3f%26color-body-middle%3D%2523611d03%26color-buttons%3D%25235e111f%26color-community-header%3D%25235e111f%26color-header%3D%25233a5766%26color-links%3D%2523198975%26color-page%3D%2523d9d4cc%26oasisTypography%3D1%26page-opacity%3D94%26widthType%3D0/skins/oasis/css/oasis.scss,extensions/wikia/DesignSystem/styles/design-system.scss,extensions/wikia/CommunityHeader/styles/index.scss,extensions/wikia/PageHeader/styles/index.scss,extensions/wikia/Recirculation/styles/recirculation.scss,extensions/wikia/EmbeddableDiscussions/styles/EmbeddableDiscussions.scss,extensions/wikia/PortableInfobox/styles/PortableInfobox.scss,extensions/wikia/AdEngine3/dist/styles.scss,extensions/wikia/Qualaroo/css/Qualaroo.scss">-->

<!--  <link rel="stylesheet" href="/stylesheets/Qualaroo.scss"/>-->

  <!-- CSS injected by skin and extensions -->
<!--  <link rel="stylesheet"-->
<!--        href="https://slot1-images.wikia.nocookie.net/__am/1571855023717/sasses/background-dynamic%3Dfalse%26background-image%3Dhttps%253A%252F%252Fvignette.wikia.nocookie.net%252Fkimetsu-no-yaiba%252Fimages%252F5%252F50%252FWiki-background%252Frevision%252Flatest%253Fcb%253D20181213011000%26background-image-height%3D750%26background-image-width%3D1600%26color-body%3D%2523900c3f%26color-body-middle%3D%2523611d03%26color-buttons%3D%25235e111f%26color-community-header%3D%25235e111f%26color-header%3D%25233a5766%26color-links%3D%2523198975%26color-page%3D%2523d9d4cc%26oasisTypography%3D1%26page-opacity%3D94%26widthType%3D0/skins/oasis/css/oasis.scss,extensions/wikia/DesignSystem/styles/design-system.scss,extensions/wikia/CommunityHeader/styles/index.scss,extensions/wikia/PageHeader/styles/index.scss,extensions/wikia/Recirculation/styles/recirculation.scss,extensions/wikia/EmbeddableDiscussions/styles/EmbeddableDiscussions.scss,extensions/wikia/PortableInfobox/styles/PortableInfobox.scss,extensions/wikia/AdEngine3/dist/styles.scss,extensions/wikia/Qualaroo/css/Qualaroo.scss">-->


<!--  <link rel="stylesheet" type="text/css"-->
<!--        href="https://slot1-images.wikia.nocookie.net/__am/1571855023717/sass/background-dynamic%3Dfalse%26background-image%3Dhttps%253A%252F%252Fvignette.wikia.nocookie.net%252Fkimetsu-no-yaiba%252Fimages%252F5%252F50%252FWiki-background%252Frevision%252Flatest%253Fcb%253D20181213011000%26background-image-height%3D750%26background-image-width%3D1600%26color-body%3D%2523900c3f%26color-body-middle%3D%2523611d03%26color-buttons%3D%25235e111f%26color-community-header%3D%25235e111f%26color-header%3D%25233a5766%26color-links%3D%2523198975%26color-page%3D%2523d9d4cc%26oasisTypography%3D1%26page-opacity%3D94%26widthType%3D0/extensions/wikia/WikiaPhotoGallery/css/WikiaPhotoGallery.slidertag.scss">-->

  <link rel="stylesheet" href="/stylesheets/style.css"/>
  <link rel="stylesheet" href="/stylesheets/style2.css"/>
  <link rel="stylesheet" type="text/css"
        href="https://slot1-images.wikia.nocookie.net/__am/1571855023717/sass/background-dynamic%3Dfalse%26background-image%3Dhttps%253A%252F%252Fvignette.wikia.nocookie.net%252Fkimetsu-no-yaiba%252Fimages%252F5%252F50%252FWiki-background%252Frevision%252Flatest%253Fcb%253D20181213011000%26background-image-height%3D750%26background-image-width%3D1600%26color-body%3D%2523900c3f%26color-body-middle%3D%2523611d03%26color-buttons%3D%25235e111f%26color-community-header%3D%25235e111f%26color-header%3D%25233a5766%26color-links%3D%2523198975%26color-page%3D%2523d9d4cc%26oasisTypography%3D1%26page-opacity%3D94%26widthType%3D0/extensions/wikia/WikiaPhotoGallery/css/WikiaPhotoGallery.slidertag.scss">

  <!--  <link rel="stylesheet" href="/stylesheets/WikiaPhotoGallery.css"/>-->
  <script src="https://slot1-images.wikia.nocookie.net/__am/1571855023717/group/-/wikia_photo_gallery_slider_js"></script>

  <script src="https://slot1-images.wikia.nocookie.net/__am/1571855023717/group/-/wikia_photo_gallery_js"></script>
  <script type="text/javascript" src="/javascripts/wowslider.js"/>
</head>


  <body>

    <header style="background-image:url(https://vignette.wikia.nocookie.net/kimetsu-no-yaiba/images/0/0e/Community-header-background/revision/latest/zoom-crop/width/471/height/115?cb=20181213011001);"
            class="wds-community-header">
      <div class="wds-community-header__wordmark" data-tracking="wordmark-image">
        <a accesskey="z" href="//kimetsu-no-yaiba.fandom.com">
          <img src="https://vignette.wikia.nocookie.net/kimetsu-no-yaiba/images/8/89/Wiki-wordmark.png/revision/latest?cb=20181213011001"
               alt="Kimetsu no Yaiba Wikia" width="183" height="65">
        </a>
      </div>
      <div class="wds-community-header__top-container">
        <div class="wds-community-header__sitename" data-tracking="sitename">
          <a href="//kimetsu-no-yaiba.fandom.com">Kimetsu no Yaiba Wikia</a>
        </div>
<!--        <div class="wds-community-header__counter" data-tracking="counter">-->
<!--          <span class="wds-community-header__counter-value">493</span>-->
<!--          <span class="wds-community-header__counter-label">Pages</span>-->
<!--        </div>-->
<!--        <div class="wds-community-header__wiki-buttons wds-button-group">-->
<!--          <a class="wds-button wds-is-secondary createpage" href="/wiki/Special:CreatePage"-->
<!--             data-tracking="add-new-page" title="Add new page">-->
<!--            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18" class="wds-icon wds-icon-small"-->
<!--                 id="wds-icons-page-small">-->
<!--              <path d="M10 12v2.586L12.586 12H10zm-6 4h4v-5a1 1 0 0 1 1-1h5V2H4v14zm5 2H3a1 1 0 0 1-1-1V1a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v9.992c0 .043-.002.086-.007.128l-.001.003v.006a1.19 1.19 0 0 1-.023.119l-.001.002-.001.006-.001.002v.001a1 1 0 0 1-.254.444s-.002 0-.002.002h-.001l-.002.002-6 6-.003.004-.003.002-.001.001a1.003 1.003 0 0 1-.435.251h-.004a.885.885 0 0 1-.136.027h-.004c-.001.001.005.004-.004.001l-.003.001A1.088 1.088 0 0 1 9 18z"></path>-->
<!--            </svg>-->
<!--            <span>Add new page</span>-->
<!--          </a>-->
<!--        </div>-->
      </div>
      <nav class="wds-community-header__local-navigation">
        <ul class="wds-tabs">
          <li class="wds-tabs__tab">
            <div class="wds-dropdown">
              <div class="wds-tabs__tab-label wds-dropdown__toggle">
                <a href="/wiki/Category:World" data-tracking="custom-level-1">
                  <span>World</span>
                </a>
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                     viewBox="0 0 12 12" class="wds-icon wds-icon-tiny wds-dropdown__toggle-chevron"
                     id="wds-icons-dropdown-tiny">
                  <defs>
                    <path id="dropdown-tiny-a"
                          d="M6.0001895,8.80004571 C5.79538755,8.80004571 5.5905856,8.72164496 5.43458411,8.56564348 L2.23455364,5.365613 C2.00575146,5.13681083 1.93695081,4.79280755 2.06095199,4.4936047 C2.18415316,4.19440185 2.47695595,4 2.80015903,4 L9.20021997,4 C9.52342305,4 9.81542583,4.19440185 9.93942701,4.4936047 C10.0634282,4.79280755 9.99462754,5.13681083 9.76582536,5.365613 L6.56579489,8.56564348 C6.4097934,8.72164496 6.20499145,8.80004571 6.0001895,8.80004571 Z"></path>
                  </defs>
                  <use fill-rule="evenodd" xlink:href="#dropdown-tiny-a"></use>
                </svg>
              </div>
              <div class="wds-is-not-scrollable wds-dropdown__content">
                <ul class="wds-list wds-is-linked wds-has-bolded-items">
                  <li class="wds-dropdown-level-2">
                    <a href="/wiki/Story_Arcs" class="wds-dropdown-level-2__toggle"
                       data-tracking="custom-level-2">
                      <span>Story Arcs</span>
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12"
                           class="wds-icon wds-icon-tiny wds-dropdown-chevron"
                           id="wds-icons-menu-control-tiny">
                        <path d="M11.707 3.293a.999.999 0 0 0-1.414 0L6 7.586 1.707 3.293A.999.999 0 1 0 .293 4.707l5 5a.997.997 0 0 0 1.414 0l5-5a.999.999 0 0 0 0-1.414"
                              fill-rule="evenodd"></path>
                      </svg>
                    </a>
                    <div class="wds-is-not-scrollable wds-dropdown-level-2__content">
                      <ul class="wds-list wds-is-linked">
                        <li>
                          <a href="/wiki/Final_Selection_Arc" data-tracking="custom-level-3">Final
                            Selection Arc</a>
                        </li>
                        <li>
                          <a href="/wiki/First_Mission_Arc" data-tracking="custom-level-3">First
                            Mission Arc</a>
                        </li>
                        <li>
                          <a href="/wiki/Asakusa_Arc" data-tracking="custom-level-3">Asakusa
                            Arc</a>
                        </li>
                        <li>
                          <a href="/wiki/Drum_House_Arc" data-tracking="custom-level-3">Drum House
                            Arc</a>
                        </li>
                        <li>
                          <a href="/wiki/Natagumo_Mountain_Arc" data-tracking="custom-level-3">Natagumo
                            Mountain Arc</a>
                        </li>
                        <li>
                          <a href="/wiki/Functional_Recovery_Training_Arc"
                             data-tracking="custom-level-3">Functional Recovery Training Arc</a>
                        </li>
                        <li>
                          <a href="/wiki/Demon_Train_Arc" data-tracking="custom-level-3">Demon
                            Train Arc</a>
                        </li>
                        <li>
                          <a href="/wiki/Red_Light_District_Arc" data-tracking="custom-level-3">Red
                            Light District Arc</a>
                        </li>
                        <li>
                          <a href="/wiki/Swordsmith_Village_Arc" data-tracking="custom-level-3">Swordsmith
                            Village Arc</a>
                        </li>
                        <li>
                          <a href="/wiki/Pillar_Training_Arc" data-tracking="custom-level-3">Pillar
                            Training Arc</a>
                        </li>
                      </ul>
                    </div>
                  </li>
                  <li class="wds-dropdown-level-2">
                    <a href="/wiki/Category:Locations" class="wds-dropdown-level-2__toggle"
                       data-tracking="custom-level-2">
                      <span>Locations</span>
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12"
                           class="wds-icon wds-icon-tiny wds-dropdown-chevron"
                           id="wds-icons-menu-control-tiny">
                        <path d="M11.707 3.293a.999.999 0 0 0-1.414 0L6 7.586 1.707 3.293A.999.999 0 1 0 .293 4.707l5 5a.997.997 0 0 0 1.414 0l5-5a.999.999 0 0 0 0-1.414"
                              fill-rule="evenodd"></path>
                      </svg>
                    </a>
                    <div class="wds-is-not-scrollable wds-dropdown-level-2__content">
                      <ul class="wds-list wds-is-linked">
                        <li>
                          <a href="/wiki/Sagiri_Mountain" data-tracking="custom-level-3">Sagiri
                            Mountain</a>
                        </li>
                        <li>
                          <a href="/wiki/Natagumo_Mountain" data-tracking="custom-level-3">Natagumo
                            Mountain</a>
                        </li>
                        <li>
                          <a href="/wiki/Butterfly_Estate" data-tracking="custom-level-3">Butterfly
                            Estate</a>
                        </li>
                        <li>
                          <a href="/wiki/Red_Light_District" data-tracking="custom-level-3">Red
                            Light District</a>
                        </li>
                        <li>
                          <a href="/wiki/Swordsmith_Village" data-tracking="custom-level-3">Swordsmith
                            Village</a>
                        </li>
                        <li>
                          <a href="/wiki/Dimensional_Infinity_Fortress"
                             data-tracking="custom-level-3">Dimensional Infinity Fortress</a>
                        </li>
                      </ul>
                    </div>
                  </li>
                  <li class="wds-dropdown-level-2">
                    <a href="/wiki/Breath_Styles" class="wds-dropdown-level-2__toggle"
                       data-tracking="custom-level-2">
                      <span>Breath Styles</span>
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12"
                           class="wds-icon wds-icon-tiny wds-dropdown-chevron"
                           id="wds-icons-menu-control-tiny">
                        <path d="M11.707 3.293a.999.999 0 0 0-1.414 0L6 7.586 1.707 3.293A.999.999 0 1 0 .293 4.707l5 5a.997.997 0 0 0 1.414 0l5-5a.999.999 0 0 0 0-1.414"
                              fill-rule="evenodd"></path>
                      </svg>
                    </a>
                    <div class="wds-is-not-scrollable wds-dropdown-level-2__content">
                      <ul class="wds-list wds-is-linked">
                        <li>
                          <a href="/wiki/Breath_of_Water" data-tracking="custom-level-3">Breath of
                            Water</a>
                        </li>
                        <li>
                          <a href="/wiki/Breath_of_The_Beast" data-tracking="custom-level-3">Breath
                            of The Beast</a>
                        </li>
                        <li>
                          <a href="/wiki/Breath_of_Thunder" data-tracking="custom-level-3">Breath
                            of Thunder</a>
                        </li>
                        <li>
                          <a href="/wiki/Breath_of_Flames" data-tracking="custom-level-3">Breath
                            of Flames</a>
                        </li>
                        <li>
                          <a href="/wiki/Breath_of_Sound" data-tracking="custom-level-3">Breath of
                            Sound</a>
                        </li>
                        <li>
                          <a href="/wiki/Breath_of_The_Insect" data-tracking="custom-level-3">Breath
                            of The Insect</a>
                        </li>
                        <li>
                          <a href="/wiki/Breath_of_Love" data-tracking="custom-level-3">Breath of
                            Love</a>
                        </li>
                        <li>
                          <a href="/wiki/Breath_of_Stone" data-tracking="custom-level-3">Breath of
                            Stone</a>
                        </li>
                        <li>
                          <a href="/wiki/Breath_of_Wind" data-tracking="custom-level-3">Breath of
                            Wind</a>
                        </li>
                        <li>
                          <a href="/wiki/Breath_of_Mist" data-tracking="custom-level-3">Breath of
                            Mist</a>
                        </li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li class="wds-tabs__tab">
            <div class="wds-dropdown">
              <div class="wds-tabs__tab-label wds-dropdown__toggle">
                <a href="/wiki/Characters" data-tracking="custom-level-1">
                  <span>Characters</span>
                </a>
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                     viewBox="0 0 12 12" class="wds-icon wds-icon-tiny wds-dropdown__toggle-chevron"
                     id="wds-icons-dropdown-tiny">
                  <defs>
                    <path id="dropdown-tiny-a"
                          d="M6.0001895,8.80004571 C5.79538755,8.80004571 5.5905856,8.72164496 5.43458411,8.56564348 L2.23455364,5.365613 C2.00575146,5.13681083 1.93695081,4.79280755 2.06095199,4.4936047 C2.18415316,4.19440185 2.47695595,4 2.80015903,4 L9.20021997,4 C9.52342305,4 9.81542583,4.19440185 9.93942701,4.4936047 C10.0634282,4.79280755 9.99462754,5.13681083 9.76582536,5.365613 L6.56579489,8.56564348 C6.4097934,8.72164496 6.20499145,8.80004571 6.0001895,8.80004571 Z"></path>
                  </defs>
                  <use fill-rule="evenodd" xlink:href="#dropdown-tiny-a"></use>
                </svg>
              </div>
              <div class="wds-is-not-scrollable wds-dropdown__content">
                <ul class="wds-list wds-is-linked wds-has-bolded-items">
                  <li class="wds-dropdown-level-2">
                    <a href="/wiki/Demon_Slaying_Corps" class="wds-dropdown-level-2__toggle"
                       data-tracking="custom-level-2">
                      <span>Demon Slayers</span>
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12"
                           class="wds-icon wds-icon-tiny wds-dropdown-chevron"
                           id="wds-icons-menu-control-tiny">
                        <path d="M11.707 3.293a.999.999 0 0 0-1.414 0L6 7.586 1.707 3.293A.999.999 0 1 0 .293 4.707l5 5a.997.997 0 0 0 1.414 0l5-5a.999.999 0 0 0 0-1.414"
                              fill-rule="evenodd"></path>
                      </svg>
                    </a>
                    <div class="wds-is-not-scrollable wds-dropdown-level-2__content">
                      <ul class="wds-list wds-is-linked">
                        <li>
                          <a href="/wiki/Tanjiro_Kamado" data-tracking="custom-level-3">Tanjiro
                            Kamado</a>
                        </li>
                        <li>
                          <a href="/wiki/Zenitsu_Agatsuma" data-tracking="custom-level-3">Zenitsu
                            Agatsuma</a>
                        </li>
                        <li>
                          <a href="/wiki/Inosuke_Hashibira" data-tracking="custom-level-3">Inosuke
                            Hashibira</a>
                        </li>
                        <li>
                          <a href="/wiki/Tsuyuri_Kanao" data-tracking="custom-level-3">Tsuyuri
                            Kanao</a>
                        </li>
                        <li>
                          <a href="/wiki/Genya_Shinazugawa" data-tracking="custom-level-3">Genya
                            Shinazugawa</a>
                        </li>
                      </ul>
                    </div>
                  </li>
                  <li class="wds-dropdown-level-2">
                    <a href="/wiki/Twelve_Demon_Moons" class="wds-dropdown-level-2__toggle"
                       data-tracking="custom-level-2">
                      <span>Twelve Demon Moons</span>
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12"
                           class="wds-icon wds-icon-tiny wds-dropdown-chevron"
                           id="wds-icons-menu-control-tiny">
                        <path d="M11.707 3.293a.999.999 0 0 0-1.414 0L6 7.586 1.707 3.293A.999.999 0 1 0 .293 4.707l5 5a.997.997 0 0 0 1.414 0l5-5a.999.999 0 0 0 0-1.414"
                              fill-rule="evenodd"></path>
                      </svg>
                    </a>
                    <div class="wds-is-not-scrollable wds-dropdown-level-2__content">
                      <ul class="wds-list wds-is-linked">
                        <li>
                          <a href="/wiki/Kokushibo" data-tracking="custom-level-3">Kokushibo</a>
                        </li>
                        <li>
                          <a href="/wiki/Doma" data-tracking="custom-level-3">Doma</a>
                        </li>
                        <li>
                          <a href="/wiki/Akaza" data-tracking="custom-level-3">Akaza</a>
                        </li>
                        <li>
                          <a href="/wiki/Gyokko" data-tracking="custom-level-3">Gyokko</a>
                        </li>
                        <li>
                          <a href="/wiki/Daki" data-tracking="custom-level-3">Daki</a>
                        </li>
                      </ul>
                    </div>
                  </li>
                  <li class="wds-dropdown-level-2">
                    <a href="/wiki/Pillars" class="wds-dropdown-level-2__toggle"
                       data-tracking="custom-level-2">
                      <span>Pillars</span>
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12"
                           class="wds-icon wds-icon-tiny wds-dropdown-chevron"
                           id="wds-icons-menu-control-tiny">
                        <path d="M11.707 3.293a.999.999 0 0 0-1.414 0L6 7.586 1.707 3.293A.999.999 0 1 0 .293 4.707l5 5a.997.997 0 0 0 1.414 0l5-5a.999.999 0 0 0 0-1.414"
                              fill-rule="evenodd"></path>
                      </svg>
                    </a>
                    <div class="wds-is-not-scrollable wds-dropdown-level-2__content">
                      <ul class="wds-list wds-is-linked">
                        <li>
                          <a href="/wiki/Giyu_Tomioka" data-tracking="custom-level-3">Giyu
                            Tomioka</a>
                        </li>
                        <li>
                          <a href="/wiki/Shinobu_Kocho" data-tracking="custom-level-3">Shinobu
                            Kocho</a>
                        </li>
                        <li>
                          <a href="/wiki/Kyojuro_Rengoku" data-tracking="custom-level-3">Kyojuro
                            Rengoku</a>
                        </li>
                        <li>
                          <a href="/wiki/Uzui_Tengen" data-tracking="custom-level-3">Uzui
                            Tengen</a>
                        </li>
                        <li>
                          <a href="/wiki/Sanemi_Shinazugawa" data-tracking="custom-level-3">Sanemi
                            Shinazugawa</a>
                        </li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li class="wds-tabs__tab">
            <div class="wds-dropdown">
              <div class="wds-tabs__tab-label wds-dropdown__toggle">
                <a href="/wiki/Media" data-tracking="custom-level-1">
                  <span>Media</span>
                </a>
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                     viewBox="0 0 12 12" class="wds-icon wds-icon-tiny wds-dropdown__toggle-chevron"
                     id="wds-icons-dropdown-tiny">
                  <defs>
                    <path id="dropdown-tiny-a"
                          d="M6.0001895,8.80004571 C5.79538755,8.80004571 5.5905856,8.72164496 5.43458411,8.56564348 L2.23455364,5.365613 C2.00575146,5.13681083 1.93695081,4.79280755 2.06095199,4.4936047 C2.18415316,4.19440185 2.47695595,4 2.80015903,4 L9.20021997,4 C9.52342305,4 9.81542583,4.19440185 9.93942701,4.4936047 C10.0634282,4.79280755 9.99462754,5.13681083 9.76582536,5.365613 L6.56579489,8.56564348 C6.4097934,8.72164496 6.20499145,8.80004571 6.0001895,8.80004571 Z"></path>
                  </defs>
                  <use fill-rule="evenodd" xlink:href="#dropdown-tiny-a"></use>
                </svg>
              </div>
              <div class="wds-is-not-scrollable wds-dropdown__content">
                <ul class="wds-list wds-is-linked wds-has-bolded-items">
                  <li class="wds-dropdown-level-2">
                    <a href="/wiki/Kimetsu_no_Yaiba_(Manga)" class="wds-dropdown-level-2__toggle"
                       data-tracking="custom-level-2">
                      <span>Manga</span>
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12"
                           class="wds-icon wds-icon-tiny wds-dropdown-chevron"
                           id="wds-icons-menu-control-tiny">
                        <path d="M11.707 3.293a.999.999 0 0 0-1.414 0L6 7.586 1.707 3.293A.999.999 0 1 0 .293 4.707l5 5a.997.997 0 0 0 1.414 0l5-5a.999.999 0 0 0 0-1.414"
                              fill-rule="evenodd"></path>
                      </svg>
                    </a>
                    <div class="wds-is-not-scrollable wds-dropdown-level-2__content">
                      <ul class="wds-list wds-is-linked">
                        <li>
                          <a href="/wiki/Chapters_and_Volumes" data-tracking="custom-level-3">Chapters
                            and Volumes</a>
                        </li>
                        <li>
                          <a href="/wiki/Profiles" data-tracking="custom-level-3">Profiles</a>
                        </li>
                      </ul>
                    </div>
                  </li>
                  <li class="wds-dropdown-level-2">
                    <a href="/wiki/Kimetsu_no_Yaiba_(Anime)" class="wds-dropdown-level-2__toggle"
                       data-tracking="custom-level-2">
                      <span>Anime</span>
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12"
                           class="wds-icon wds-icon-tiny wds-dropdown-chevron"
                           id="wds-icons-menu-control-tiny">
                        <path d="M11.707 3.293a.999.999 0 0 0-1.414 0L6 7.586 1.707 3.293A.999.999 0 1 0 .293 4.707l5 5a.997.997 0 0 0 1.414 0l5-5a.999.999 0 0 0 0-1.414"
                              fill-rule="evenodd"></path>
                      </svg>
                    </a>
                    <div class="wds-is-not-scrollable wds-dropdown-level-2__content">
                      <ul class="wds-list wds-is-linked">
                        <li>
                          <a href="/wiki/Gurenge" data-tracking="custom-level-3">Opening</a>
                        </li>
                        <li>
                          <a href="/wiki/From_the_Edge" data-tracking="custom-level-3">Ending</a>
                        </li>
                      </ul>
                    </div>
                  </li>
                  <li class="wds-is-sticked-to-parent wds-dropdown-level-2">
                    <a href="#" class="wds-dropdown-level-2__toggle" data-tracking="custom-level-2">
                      <span>Movies</span>
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12"
                           class="wds-icon wds-icon-tiny wds-dropdown-chevron"
                           id="wds-icons-menu-control-tiny">
                        <path d="M11.707 3.293a.999.999 0 0 0-1.414 0L6 7.586 1.707 3.293A.999.999 0 1 0 .293 4.707l5 5a.997.997 0 0 0 1.414 0l5-5a.999.999 0 0 0 0-1.414"
                              fill-rule="evenodd"></path>
                      </svg>
                    </a>
                    <div class="wds-is-not-scrollable wds-dropdown-level-2__content">
                      <ul class="wds-list wds-is-linked">
                        <li>
                          <a href="/wiki/Kimetsu_no_Yaiba:_Kyoudai_no_Kizuna"
                             data-tracking="custom-level-3">Kimetsu no Yaiba: Kyoudai no
                            Kizuna</a>
                        </li>
                        <li>
                          <a href="/wiki/Kimetsu_no_Yaiba:_The_Infinity_Train_Arc"
                             data-tracking="custom-level-3">Kimetsu no Yaiba: The Infinity Train
                            Arc</a>
                        </li>
                      </ul>
                    </div>
                  </li>
                  <li>
                    <a href="/wiki/Kimetsu_no_Yaiba_Stage_Play" data-tracking="custom-level-2">
                      Stage Play </a>
                  </li>
                  <li>
                    <a href="/wiki/Weekly_Sh%C5%8Dnen_Jump" data-tracking="custom-level-2">
                      Weekly Shōnen Jump </a>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li class="wds-tabs__tab">
            <div class="wds-dropdown">
              <div class="wds-tabs__tab-label wds-dropdown__toggle">
                <a href="/wiki/Community" data-tracking="custom-level-1">
                  <span>Community</span>
                </a>
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                     viewBox="0 0 12 12" class="wds-icon wds-icon-tiny wds-dropdown__toggle-chevron"
                     id="wds-icons-dropdown-tiny">
                  <defs>
                    <path id="dropdown-tiny-a"
                          d="M6.0001895,8.80004571 C5.79538755,8.80004571 5.5905856,8.72164496 5.43458411,8.56564348 L2.23455364,5.365613 C2.00575146,5.13681083 1.93695081,4.79280755 2.06095199,4.4936047 C2.18415316,4.19440185 2.47695595,4 2.80015903,4 L9.20021997,4 C9.52342305,4 9.81542583,4.19440185 9.93942701,4.4936047 C10.0634282,4.79280755 9.99462754,5.13681083 9.76582536,5.365613 L6.56579489,8.56564348 C6.4097934,8.72164496 6.20499145,8.80004571 6.0001895,8.80004571 Z"></path>
                  </defs>
                  <use fill-rule="evenodd" xlink:href="#dropdown-tiny-a"></use>
                </svg>
              </div>
              <div class="wds-is-not-scrollable wds-dropdown__content">
                <ul class="wds-list wds-is-linked wds-has-bolded-items">
                  <li>
                    <a href="/wiki/Koyoharu_Got%C5%8Dge" data-tracking="custom-level-2">
                      Koyoharu Gotōge </a>
                  </li>
                  <li class="wds-is-sticked-to-parent wds-dropdown-level-2">
                    <a href="/wiki/Special:ListUsers" class="wds-dropdown-level-2__toggle"
                       data-tracking="custom-level-2">
                      <span>Users</span>
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12"
                           class="wds-icon wds-icon-tiny wds-dropdown-chevron"
                           id="wds-icons-menu-control-tiny">
                        <path d="M11.707 3.293a.999.999 0 0 0-1.414 0L6 7.586 1.707 3.293A.999.999 0 1 0 .293 4.707l5 5a.997.997 0 0 0 1.414 0l5-5a.999.999 0 0 0 0-1.414"
                              fill-rule="evenodd"></path>
                      </svg>
                    </a>
                    <div class="wds-is-not-scrollable wds-dropdown-level-2__content">
                      <ul class="wds-list wds-is-linked">
                        <li>
                          <a href="/wiki/Special:ListUsers/sysop" data-tracking="custom-level-3">Administrators</a>
                        </li>
                      </ul>
                    </div>
                  </li>
                  <li>
                    <a href="/wiki/Kimetsu_no_Yaiba_Wikia:Policies_and_guidelines"
                       data-tracking="custom-level-2">
                      Policies </a>
                  </li>
                  <li>
                    <a href="/wiki/Events" data-tracking="custom-level-2">
                      Events </a>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li class="wds-tabs__tab">
            <div class="wds-dropdown">
              <div class="wds-tabs__tab-label wds-dropdown__toggle">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                     viewBox="0 0 12 12" class="wds-icon-tiny wds-icon" id="wds-icons-book-tiny">
                  <defs>
                    <path id="book-tiny"
                          d="M3.5 3C2.673 3 2 3.673 2 4.5v2.338c.91-.434 2.09-.434 3 0V4.5c0-.397-.159-.785-.437-1.063A1.513 1.513 0 0 0 3.5 3m5 3.5c.537 0 1.045.121 1.5.338V4.5c0-.397-.159-.785-.437-1.063A1.502 1.502 0 0 0 7 4.5v2.338A3.473 3.473 0 0 1 8.5 6.5M11 11a1 1 0 0 1-1-1c0-.827-.673-1.5-1.5-1.5S7 9.173 7 10a1 1 0 1 1-2 0c0-.827-.673-1.5-1.5-1.5S2 9.173 2 10a1 1 0 1 1-2 0V4.5a3.504 3.504 0 0 1 5.977-2.477l.026.027A3.489 3.489 0 0 1 8.5 1c.937 0 1.817.363 2.477 1.023A3.524 3.524 0 0 1 12 4.5V10a1 1 0 0 1-1 1"></path>
                  </defs>
                  <use fill-rule="evenodd" xlink:href="#book-tiny"></use>
                </svg>
                <span>Explore</span>
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                     viewBox="0 0 12 12" class="wds-icon wds-icon-tiny wds-dropdown__toggle-chevron"
                     id="wds-icons-dropdown-tiny">
                  <defs>
                    <path id="dropdown-tiny-a"
                          d="M6.0001895,8.80004571 C5.79538755,8.80004571 5.5905856,8.72164496 5.43458411,8.56564348 L2.23455364,5.365613 C2.00575146,5.13681083 1.93695081,4.79280755 2.06095199,4.4936047 C2.18415316,4.19440185 2.47695595,4 2.80015903,4 L9.20021997,4 C9.52342305,4 9.81542583,4.19440185 9.93942701,4.4936047 C10.0634282,4.79280755 9.99462754,5.13681083 9.76582536,5.365613 L6.56579489,8.56564348 C6.4097934,8.72164496 6.20499145,8.80004571 6.0001895,8.80004571 Z"></path>
                  </defs>
                  <use fill-rule="evenodd" xlink:href="#dropdown-tiny-a"></use>
                </svg>
              </div>
              <div class="wds-is-not-scrollable wds-dropdown__content">
                <ul class="wds-list wds-is-linked wds-has-bolded-items">
                  <li>
                    <a href="//kimetsu-no-yaiba.fandom.com/wiki/Special:WikiActivity"
                       data-tracking="explore-activity">Wiki Activity</a>
                  </li>
                  <li>
                    <a href="//kimetsu-no-yaiba.fandom.com/wiki/Special:Random"
                       data-tracking="explore-random">Random page</a>
                  </li>
                  <li>
                    <a href="//kimetsu-no-yaiba.fandom.com/wiki/Special:Community"
                       data-tracking="explore-community">Community</a>
                  </li>
                  <li>
                    <a href="//kimetsu-no-yaiba.fandom.com/wiki/Special:Videos"
                       data-tracking="explore-videos">Videos</a>
                  </li>
                  <li>
                    <a href="//kimetsu-no-yaiba.fandom.com/wiki/Special:Images"
                       data-tracking="explore-images">Images</a>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li class="wds-tabs__tab">
            <div class="wds-tabs__tab-label">
              <a href="/f" data-tracking="discuss">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                     viewBox="0 0 12 12" class="wds-icon-tiny wds-icon" id="wds-icons-comment-tiny">
                  <defs>
                    <path id="comment-tiny"
                          d="M4.5 2c-.668 0-1.293.26-1.757.731A2.459 2.459 0 0 0 2 4.5c0 1.235.92 2.297 2.141 2.47A1 1 0 0 1 5 7.96v.626l1.293-1.293A.997.997 0 0 1 7 7h.5c.668 0 1.293-.26 1.757-.731.483-.476.743-1.1.743-1.769C10 3.122 8.878 2 7.5 2h-3zM4 12a1 1 0 0 1-1-1V8.739A4.52 4.52 0 0 1 0 4.5c0-1.208.472-2.339 1.329-3.183A4.424 4.424 0 0 1 4.5 0h3C9.981 0 12 2.019 12 4.5a4.432 4.432 0 0 1-1.329 3.183A4.424 4.424 0 0 1 7.5 9h-.086l-2.707 2.707A1 1 0 0 1 4 12z"></path>
                  </defs>
                  <use fill-rule="evenodd" xlink:href="#comment-tiny"></use>
                </svg>
                <span>Discuss</span>
              </a>
            </div>
          </li>
        </ul>
      </nav>
    </header>

    <section id="WikiaPage" class="WikiaPage V2" onclick="">
      <div id="WikiaPageBackground" class="WikiaPageBackground"></div>
      <div class="WikiaPageContentWrapper">


        <header id="PageHeader" class="page-header">
          <div class="page-header__main">
            <h1 class="page-header__title">Home</h1>
          </div>
          <div class="page-header__contribution">
            <div> <!--Empty div to ensure $actionButton is always pushed to bottom of the container-->
              <div class="wds-dropdown page-header__languages">
                <div class="wds-dropdown__toggle">
                  <span data-tracking="interwiki-dropdown">English</span>
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                       viewBox="0 0 12 12" class="wds-icon wds-icon-tiny wds-dropdown__toggle-chevron"
                       id="wds-icons-dropdown-tiny">
                    <defs>
                      <path id="dropdown-tiny-a"
                            d="M6.0001895,8.80004571 C5.79538755,8.80004571 5.5905856,8.72164496 5.43458411,8.56564348 L2.23455364,5.365613 C2.00575146,5.13681083 1.93695081,4.79280755 2.06095199,4.4936047 C2.18415316,4.19440185 2.47695595,4 2.80015903,4 L9.20021997,4 C9.52342305,4 9.81542583,4.19440185 9.93942701,4.4936047 C10.0634282,4.79280755 9.99462754,5.13681083 9.76582536,5.365613 L6.56579489,8.56564348 C6.4097934,8.72164496 6.20499145,8.80004571 6.0001895,8.80004571 Z"></path>
                    </defs>
                    <use fill-rule="evenodd" xlink:href="#dropdown-tiny-a"></use>
                  </svg>
                </div>
                <div class="wds-dropdown__content wds-is-right-aligned">
                  <ul class="wds-list wds-is-linked">
                    <li>
                      <a href="//kimetsu-no-yaiba.fandom.com/ru/wiki/"
                         data-tracking="top-ru">Русский</a>
                    </li>
                    <li>
                      <a href="//kimetsu-no-yaiba.fandom.com/zh-tw/wiki/" data-tracking="top-zh-tw">‪中文(台灣)‬</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="page-header__contribution-buttons">
              <div class="wds-button-group">
                <a href="/wiki/Kimetsu_no_Yaiba_Wikia?action=edit" class="wds-button" id="ca-viewsource"
                   data-tracking="ca-viewsource">
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                       viewBox="0 0 18 18" class="wds-icon wds-icon-small" id="wds-icons-lock-small">
                    <defs>
                      <path id="lock-small"
                            d="M14 16H4V8h10v8zM7 4c0-1.104.897-2 2-2s2 .896 2 2v2H7V4zm8 2h-2V4c0-2.205-1.794-4-4-4S5 1.795 5 4v2H3a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1zm-5 4H8a1 1 0 1 0 0 2v1a1 1 0 1 0 2 0v-1a1 1 0 1 0 0-2"></path>
                    </defs>
                    <use fill-rule="evenodd" xlink:href="#lock-small"></use>
                  </svg>
                  <span>View source</span>
                </a>
                <div class="wds-dropdown">
                  <div class="wds-button wds-dropdown__toggle">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                         viewBox="0 0 12 12" class="wds-icon wds-icon-tiny wds-dropdown__toggle-chevron"
                         id="wds-icons-dropdown-tiny">
                      <defs>
                        <path id="dropdown-tiny-a"
                              d="M6.0001895,8.80004571 C5.79538755,8.80004571 5.5905856,8.72164496 5.43458411,8.56564348 L2.23455364,5.365613 C2.00575146,5.13681083 1.93695081,4.79280755 2.06095199,4.4936047 C2.18415316,4.19440185 2.47695595,4 2.80015903,4 L9.20021997,4 C9.52342305,4 9.81542583,4.19440185 9.93942701,4.4936047 C10.0634282,4.79280755 9.99462754,5.13681083 9.76582536,5.365613 L6.56579489,8.56564348 C6.4097934,8.72164496 6.20499145,8.80004571 6.0001895,8.80004571 Z"></path>
                      </defs>
                      <use fill-rule="evenodd" xlink:href="#dropdown-tiny-a"></use>
                    </svg>
                  </div>
                  <div class="wds-dropdown__content wds-is-not-scrollable wds-is-right-aligned">
                    <ul class="wds-list wds-is-linked">
                      <li>
                        <a id="ca-history" href="/wiki/Kimetsu_no_Yaiba_Wikia?action=history"
                           data-tracking="ca-history-dropdown">
                          History </a>
                      </li>
                      <li>
                        <a id="ca-talk"
                           href="/wiki/Talk:Kimetsu_no_Yaiba_Wikia?action=edit&amp;redlink=1"
                           class="new" data-tracking="ca-talk-dropdown">
                          Talk (0) </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <a class="wds-button wds-is-secondary" href="#" id="ShareEntryPoint">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                     viewBox="0 0 18 18" class="wds-icon wds-icon-small" id="wds-icons-share-small">
                  <defs>
                    <path id="share-small"
                          d="M14.5 15a1.502 1.502 0 0 1-1.406-2.022l.022-.05.017-.045c.236-.52.76-.883 1.367-.883.827 0 1.5.673 1.5 1.5s-.673 1.5-1.5 1.5M4.906 9.522l-.022.05-.017.045c-.236.52-.76.883-1.367.883C2.673 10.5 2 9.827 2 9s.673-1.5 1.5-1.5c.607 0 1.131.363 1.367.883l.017.045.022.05a1.482 1.482 0 0 1 0 1.044M14.5 3c.827 0 1.5.673 1.5 1.5S15.327 6 14.5 6a1.503 1.503 0 0 1-1.367-.883l-.017-.045-.022-.05A1.502 1.502 0 0 1 14.5 3m0 7c-1.098 0-2.08.508-2.722 1.303L6.983 9.348a3.653 3.653 0 0 0 0-.696l4.795-1.955A3.492 3.492 0 0 0 14.5 8C16.43 8 18 6.43 18 4.5S16.43 1 14.5 1a3.504 3.504 0 0 0-3.483 3.848L6.222 6.803A3.492 3.492 0 0 0 3.5 5.5C1.57 5.5 0 7.07 0 9s1.57 3.5 3.5 3.5c1.098 0 2.08-.508 2.722-1.303l4.795 1.955A3.504 3.504 0 0 0 14.5 17c1.93 0 3.5-1.57 3.5-3.5S16.43 10 14.5 10"></path>
                  </defs>
                  <use fill-rule="evenodd" xlink:href="#share-small"></use>
                </svg>
                <span>Share</span>
              </a>
            </div>
          </div>
        </header>
        <hr class="page-header__separator">

        <article id="WikiaMainContent" class="WikiaMainContent">
          <div id="WikiaMainContentContainer" class="WikiaMainContentContainer">


            <div id="WikiaArticle" class="WikiaArticle">
              <div class="home-top-right-ads">

                <div id="top-right-boxad-wrapper">
                  <!-- BEGIN SLOTNAME: top_boxad -->
                  <div id="top_boxad" class="wikia-ad noprint default-height gpt-ad">
                    <script>
                      window.adslots2.push(["top_boxad"]);
                    </script>
                  </div>
                  <!-- END SLOTNAME: top_boxad -->
                  <div id="_5b2d1649b2-188-1-container"></div>
                </div>
              </div>


              <div id="mw-content-text" dir="ltr" class="mw-content-ltr mw-content-text" lang="en">
                <div class="main-page-tag-lcs main-page-tag-lcs-exploded">
                  <div class="lcs-container">
                    <table>
                    </table>
                    <table style="float: centre; width: 100%; vertical-align: top; border-radius: 10px 0px 10px; border: 3px; border-color: #5e111f; border-style:solid; padding: 3px; box-shadow: 4px 4px 3px darkgray; background:linear-gradient(#ffffff,#ffffff)"
                           cellspacing="0" cellpadding="0" border="0">
                      <tbody>
                      <tr>
                        <td style="padding: 5px;">
                          <h2 style="padding:0.2em 0.4em 0.2em 0.4em; margin:5px 0 7px 0; border:3px solid #d6b479; background-color: #5e111f; color:#000; font-size:130%; font-weight:bold; text-align:center; -moz-border-radius:0.4em; -webkit-border-radius:0.4em;">
                                  <span class="mw-headline"
                                        id="WELCOME_TO_THE_KIMETSU_NO_YAIBA_WIKI.21"><span
                                            style="color:#d6b479;font-family:Last Ninja;">WELCOME TO THE KIMETSU NO YAIBA WIKI!</span></span>
                          </h2>
                          <p><br>
                          </p>
                          <table style="border-radius:4px; width: 100%; border: 3px solid #d6b479; margin-bottom: 7px;"
                                 cellspacing="4" cellpadding="2" border="0">
                            <tbody>
                            <tr>
                              <td>

                                <div class="WikiaPhotoGalleryPreview">
                                  <div class="wikiaPhotoGallery-slider-body"
                                       id="wikiaPhotoGallery-slider-body-0"  style="" >
                                    <div class="horizontal">
                                      <ul id="slides">
                                        <li class="slide showing"  >
                                          <a href="/wiki/Kimetsu_no_Yaiba_(Manga)">
                                            <img width="670" height="376"
                                                 src="https://vignette.wikia.nocookie.net/kimetsu-no-yaiba/images/d/de/Main_kimetsu.png/revision/latest/scale-to-width-down/670?cb=20180604022447"
                                                 class="wikiaPhotoGallery-slider"
                                                 data-image-key="Main_kimetsu.png"
                                                 data-image-name="Main kimetsu.png"
                                                 style="">
                                          </a>
                                          <div class="description-background"
                                               style="display: block;"></div>
                                          <div class="description"
                                               style="display: block;">
                                            <h2><b>Manga</b></h2>
                                            <p>Stay updated on the latest
                                              chapters &amp; volumes!!</p>
                                            <p>
                                              <a href="/wiki/Kimetsu_no_Yaiba_(Manga)"
                                                 class="wikia-button secondary">
                                                <span> Read more &gt;</span>
                                              </a>
                                            </p>
                                          </div>
                                          <div class="nav selected" style=" right:305px">
                                            <p><img width="90" height="70"
                                                    src="https://vignette.wikia.nocookie.net/kimetsu-no-yaiba/images/d/de/Main_kimetsu.png/revision/latest/zoom-crop-down/width/90/height/70?cb=20180604022447">
                                            </p>
                                          </div>
                                        </li>
                                        <li class="wikiaPhotoGallery-slider-1"
                                            id="wikiaPhotoGallery-slider-0-1">
                                        <li class="slide" >
                                          <a href="/wiki/Kimetsu_no_Yaiba_(Anime)">
                                            <img width="670" height="376"
                                                 src="https://vignette.wikia.nocookie.net/kimetsu-no-yaiba/images/e/ee/Kimetsu_no_Yaiba_CH112.png/revision/latest/scale-to-width-down/670?cb=20190428132744"

                                                 data-image-key="Kimetsu_no_Yaiba_CH112.png"
                                                 data-image-name="Kimetsu no Yaiba CH112.png"
                                                 style="top: 0px; margin-left: 0px; left: -670px;">
                                          </a>

                                          <div class="description-background" style="display: block;"></div>
                                          <div class="description"
                                               style="display: block;">
                                            <h2><b>Anime</b></h2>
                                            <p>Learn more about the adaptation
                                              of the series!!</p>
                                            <p>
                                              <a href="/wiki/Kimetsu_no_Yaiba_(Anime)"
                                                 class="wikia-button secondary">
                                                <span> Read more &gt;</span>
                                              </a>
                                            </p>
                                          </div>
                                          <div class="nav">
                                            <p><img width="90" height="70"
                                                    src="https://vignette.wikia.nocookie.net/kimetsu-no-yaiba/images/e/ee/Kimetsu_no_Yaiba_CH112.png/revision/latest/zoom-crop-down/width/90/height/70?cb=20190428132744">
                                            </p>
                                          </div>
                                        </li>
                                        </li>
                                        <li class="slide">
                                          <a href="/wiki/Characters">
                                            <img width="670" height="376"
                                                 src="https://vignette.wikia.nocookie.net/kimetsu-no-yaiba/images/5/5d/Character_Slide.png/revision/latest/scale-to-width-down/670?cb=20180725222955"

                                                 data-image-key="Character_Slide.png"
                                                 data-image-name="Character Slide.png"
                                                 style="top: 0px; margin-left: 0px; left: 0px;">
                                          </a>

                                          <div class="description-background" style="display: block;"></div>
                                          <div class="description"
                                               style="display: block;">
                                            <h2><b>Characters</b></h2>
                                            <p>Learn more about your favorite
                                              characters!!</p>
                                            <p><a href="/wiki/Characters"
                                                  class="wikia-button secondary">
                                                <span> Read more &gt;</span>
                                              </a>
                                            </p>
                                          </div>
                                          <div class="nav ">
                                            <p><img width="90" height="70"
                                                    src="https://vignette.wikia.nocookie.net/kimetsu-no-yaiba/images/5/5d/Character_Slide.png/revision/latest/zoom-crop-down/width/90/height/70?cb=20180725222955">
                                            </p>
                                          </div>
                                        </li>

                                      </ul>
<!--                                      <ul>-->
<!--                                        <li class="wikiaPhotoGallery-slider-0"-->
<!--                                            id="wikiaPhotoGallery-slider-0-0">-->

<!--                                          <a href="/wiki/Kimetsu_no_Yaiba_(Manga)" >-->
<!--                                            <img src="https://vignette.wikia.nocookie.net/kimetsu-no-yaiba/images/d/de/Main_kimetsu.png/revision/latest/scale-to-width-down/670?cb=20180604022447"-->
<!--                                                 class="wikiaPhotoGallery-slider"-->
<!--                                                 data-image-key="Main_kimetsu.png"-->
<!--                                                 data-image-name="Main kimetsu.png"-->
<!--                                                 style=""-->
<!--                                                 width="670" height="376">-->
<!--                                          </a>-->

<!--                                          <div class="description-background" style=""-->
<!--                                              ></div>-->
<!--                                          <div class="description"  style="">                                              >-->
<!--                                            <h2><b>Manga</b></h2>-->
<!--                                            <p>Stay updated on the latest-->
<!--                                              chapters &amp; volumes!!</p>-->
<!--                                            <p>-->
<!--                                              <a href="/wiki/Kimetsu_no_Yaiba_(Manga)"-->
<!--                                                 class="wikia-button secondary">-->
<!--                                                <span> Read more &gt;</span>-->
<!--                                              </a>-->
<!--                                            </p>-->
<!--                                          </div>-->
<!--                                          <div class="nav wds-is-selected">-->
<!--                                            <p>-->
<!--                                              <img src="https://vignette.wikia.nocookie.net/kimetsu-no-yaiba/images/d/de/Main_kimetsu.png/revision/latest/zoom-crop-down/width/90/height/70?cb=20180604022447"-->
<!--                                                   width="90" height="70">-->
<!--                                            </p>-->
<!--                                          </div>-->
<!--                                        </li>-->
<!--                                        <li class="wikiaPhotoGallery-slider-1"-->
<!--                                            id="wikiaPhotoGallery-slider-0-1">-->

<!--                                          <a href="/wiki/Kimetsu_no_Yaiba_(Anime)">-->
<!--                                            <img src="https://vignette.wikia.nocookie.net/kimetsu-no-yaiba/images/e/ee/Kimetsu_no_Yaiba_CH112.png/revision/latest/scale-to-width-down/670?cb=20190428132744"-->
<!--                                                 class="wikiaPhotoGallery-slider"-->
<!--                                                 data-image-key="Kimetsu_no_Yaiba_CH112.png"-->
<!--                                                 data-image-name="Kimetsu no Yaiba CH112.png"-->
<!--                                                 style=""-->
<!--                                                 width="670" height="489">-->
<!--                                          </a>-->

<!--                                          <div class="description-background"></div>-->
<!--                                          <div class="description"-->
<!--                                              >-->
<!--                                            <h2><b>Anime</b></h2>-->
<!--                                            <p>Learn more about the adaptation-->
<!--                                              of the series!!</p>-->
<!--                                            <p>-->
<!--                                              <a href="/wiki/Kimetsu_no_Yaiba_(Anime)"-->
<!--                                                 class="wikia-button secondary">-->
<!--                                                <span> Read more &gt;</span>-->
<!--                                              </a>-->
<!--                                            </p>-->
<!--                                          </div>-->
<!--                                          <div class="nav">-->
<!--                                            <p>-->
<!--                                              <img src="https://vignette.wikia.nocookie.net/kimetsu-no-yaiba/images/e/ee/Kimetsu_no_Yaiba_CH112.png/revision/latest/zoom-crop-down/width/90/height/70?cb=20190428132744"-->
<!--                                                   width="90" height="70">-->
<!--                                            </p>-->
<!--                                          </div>-->
<!--                                        </li>-->
<!--                                        <li class="wikiaPhotoGallery-slider-2"-->
<!--                                            id="wikiaPhotoGallery-slider-0-2">-->

<!--                                          <a href="/wiki/Characters">-->
<!--                                            <img src="https://vignette.wikia.nocookie.net/kimetsu-no-yaiba/images/5/5d/Character_Slide.png/revision/latest/scale-to-width-down/670?cb=20180725222955"-->
<!--                                                 class="wikiaPhotoGallery-slider"-->
<!--                                                 data-image-key="Character_Slide.png"-->
<!--                                                 data-image-name="Character Slide.png"-->
<!--                                                 style=""-->
<!--                                                 width="670" height="376">-->
<!--                                          </a>-->

<!--                                          <div class="description-background"></div>-->
<!--                                          <div class="description"-->
<!--                                               >-->
<!--                                            <h2><b>Characters</b></h2>-->
<!--                                            <p>Learn more about your favorite-->
<!--                                              characters!!</p>-->
<!--                                            <p><a href="/wiki/Characters"-->
<!--                                                  class="wikia-button secondary">-->
<!--                                                <span> Read more &gt;</span>-->
<!--                                              </a>-->
<!--                                            </p>-->
<!--                                          </div>-->
<!--                                          <div class="nav ">-->
<!--                                            <p>-->
<!--                                              <img src="https://vignette.wikia.nocookie.net/kimetsu-no-yaiba/images/5/5d/Character_Slide.png/revision/latest/zoom-crop-down/width/90/height/70?cb=20180725222955"-->
<!--                                                   width="90" height="70">-->
<!--                                            </p>-->
<!--                                          </div>-->
<!--                                        </li>-->
<!--                                      </ul>-->
                                    </div>
                                  </div>
                                </div>

                                <script>
                                  var WikiaPhotoGallerySlider = {
                                    sliderEnabled: !0, init: function (sliderId) {
                                      var that = this, timer = null,
                                              sliderElem = $('#wikiaPhotoGallery-slider-body-' + sliderId),
                                              currentImage = $('#wikiaPhotoGallery-slider-' + sliderId + '-0');
                                      currentImage.find('.nav').addClass('selected');
                                      currentImage.find('.description').show();
                                      currentImage.find('.description-background').show();
                                      sliderElem.find('.nav').click(function (e) {
                                        if (sliderElem.find('.wikiaPhotoGallery-slider').queue().length == 0) {
                                          clearInterval(timer);
                                          WikiaPhotoGallerySlider.scroll($(this));
                                        }
                                      });
                                      $('.wikiaPhotoGallery-slider-body ul li a').click(function () {
                                        WikiaPhotoGallerySlider.sliderEnabled = !1;
                                      });
                                      $(window).bind('EditPagePreviewClosed', function () {
                                        that.killSlider(timer);
                                      });
                                      sliderElem.show();
                                      if (sliderElem.find('ul').children().length > 1) {
                                        timer = setInterval(function () {
                                          that.slideshow(sliderId);
                                        }, 7000);
                                      }
                                    }, killSlider: function (timer) {
                                      clearInterval(timer);
                                      this.sliderEnabled = !0;
                                    }, scroll: function (nav) {
                                      var thumb_index = nav.parent().index(),
                                              scroll_by = parseInt(nav.parent().find('.wikiaPhotoGallery-slider').css('left')),
                                              slider_body = nav.closest('.wikiaPhotoGallery-slider-body'),
                                              parent_id = slider_body.attr('id'),
                                              description = slider_body.find('.wikiaPhotoGallery-slider-' + thumb_index).find('.description');
                                      if (slider_body.find('.wikiaPhotoGallery-slider').queue().length == 0) {
                                        slider_body.find('.nav').removeClass('selected');
                                        nav.addClass('selected');
                                        slider_body.find('.description').clearQueue().hide();
                                        slider_body.find('.wikiaPhotoGallery-slider').animate({left: '-=' + scroll_by}, function () {
                                          description.fadeIn();
                                        });
                                      }
                                    }, slideshow: function (sliderId) {
                                      if (WikiaPhotoGallerySlider.sliderEnabled) {
                                        var current = $('#wikiaPhotoGallery-slider-body-' + sliderId + ' .selected').parent().prevAll().length;
                                        var next = ((current == $('#wikiaPhotoGallery-slider-body-' + sliderId + ' .nav').length - 1) || (current > 3)) ? 0 : current + 1;
                                        WikiaPhotoGallerySlider.scroll($('#wikiaPhotoGallery-slider-' + sliderId + '-' + next).find('.nav'));
                                      }
                                    }
                                  };

                                </script>
                                <script>

                                  var slides = document.querySelectorAll('#slides .slide');
                                  var currentSlide = 0;
                                  var slideInterval = setInterval(nextSlide,4000);

                                  function nextSlide() {
                                    slides[currentSlide].className = 'slide';
                                    slides[currentSlide].className = 'slide';
                                    currentSlide = (currentSlide+1)%slides.length;
                                    slides[currentSlide].className = 'slide showing';
                                  }
                                </script>
                                <script>JSSnippetsStack.push({
                                    dependencies: [{
                                      "url": "https://slot1-images.wikia.nocookie.net/__am/1571855023717/group/-/wikia_photo_gallery_slider_js",
                                      "type": "js"
                                    }, {
                                      "url": "https://slot1-images.wikia.nocookie.net/__am/1571855023717/sass/background-dynamic%3Dfalse%26background-image%3Dhttps%253A%252F%252Fvignette.wikia.nocookie.net%252Fkimetsu-no-yaiba%252Fimages%252F5%252F50%252FWiki-background%252Frevision%252Flatest%253Fcb%253D20181213011000%26background-image-height%3D750%26background-image-width%3D1600%26color-body%3D%2523900c3f%26color-body-middle%3D%2523611d03%26color-buttons%3D%25235e111f%26color-community-header%3D%25235e111f%26color-header%3D%25233a5766%26color-links%3D%2523198975%26color-page%3D%2523d9d4cc%26oasisTypography%3D1%26page-opacity%3D94%26widthType%3D0/extensions/wikia/WikiaPhotoGallery/css/WikiaPhotoGallery.slidertag.scss",
                                      "type": "css"
                                    }], callback: function (json) {
                                      WikiaPhotoGallerySlider.init(json)
                                    }, id: "WikiaPhotoGallerySlider.init", options: [0]
                                  })</script>
                                <script>JSSnippetsStack.push({
                                    dependencies: [{
                                      "url": "https://slot1-images.wikia.nocookie.net/__am/1571855023717/group/-/wikia_photo_gallery_js",
                                      "type": "js"
                                    }, {
                                      "url": "https://slot1-images.wikia.nocookie.net/__am/1571855023717/sass/background-dynamic%3Dfalse%26background-image%3Dhttps%253A%252F%252Fvignette.wikia.nocookie.net%252Fkimetsu-no-yaiba%252Fimages%252F5%252F50%252FWiki-background%252Frevision%252Flatest%253Fcb%253D20181213011000%26background-image-height%3D750%26background-image-width%3D1600%26color-body%3D%2523900c3f%26color-body-middle%3D%2523611d03%26color-buttons%3D%25235e111f%26color-community-header%3D%25235e111f%26color-header%3D%25233a5766%26color-links%3D%2523198975%26color-page%3D%2523d9d4cc%26oasisTypography%3D1%26page-opacity%3D94%26widthType%3D0/extensions/wikia/WikiaPhotoGallery/css/gallery.scss",
                                      "type": "css"
                                    }], callback: function (json) {
                                      WikiaPhotoGalleryView.init(json)
                                    }, id: "WikiaPhotoGalleryView.init"
                                  })</script>
                              </td>
                            </tr>
                            </tbody>
                          </table>
                          <p><br>
                          </p>
                          <div style="margin-top:12px; text-align:center; font-size:12px;font-family:Last Ninja;">
                            <b><a href="/wiki/Chapters_and_Volumes"
                                  title="Chapters and Volumes">MANGA GUIDE</a> ■ <a
                                      href="/wiki/Characters"
                                      title="Characters">CHARACTERS</a> ■ <a
                                      href="/wiki/Story_Arcs" title="Story Arcs">STORY
                                LINE</a> ■ <a href="/wiki/Special:ListUsers/sysop"
                                              title="Special:ListUsers/sysop">ADMINISTRATORS</a>
                              ■ <a href="/wiki/Special:Community" title="Special:Community">HELP
                                OUT</a></b></div>
                          <hr>
                          <div class="floatright"><a
                                    href="https://vignette.wikia.nocookie.net/kimetsu-no-yaiba/images/7/71/Kimetsu_no_yaiba_Logo.png/revision/latest?cb=20181218210807"
                                    class="image image-thumbnail"><img
                                      src="https://vignette.wikia.nocookie.net/kimetsu-no-yaiba/images/7/71/Kimetsu_no_yaiba_Logo.png/revision/latest/scale-to-width-down/180?cb=20181218210807"
                                      alt="Kimetsu no yaiba Logo"
                                      class="lzyPlcHld lzyTrns lzyLoaded"
                                      data-image-key="Kimetsu_no_yaiba_Logo.png"
                                      data-image-name="Kimetsu no yaiba Logo.png"
                                      data-src="https://vignette.wikia.nocookie.net/kimetsu-no-yaiba/images/7/71/Kimetsu_no_yaiba_Logo.png/revision/latest/scale-to-width-down/180?cb=20181218210807"
                                      onload="if(typeof ImgLzy==='object'){ImgLzy.load(this)}"
                                      width="180" height="147">
                              <noscript><img
                                        src="https://vignette.wikia.nocookie.net/kimetsu-no-yaiba/images/7/71/Kimetsu_no_yaiba_Logo.png/revision/latest/scale-to-width-down/180?cb=20181218210807"
                                        alt="Kimetsu no yaiba Logo" class=""
                                        data-image-key="Kimetsu_no_yaiba_Logo.png"
                                        data-image-name="Kimetsu no yaiba Logo.png"
                                        width="180" height="147"></noscript>
                            </a></div>
                          <p><b>This is a Wiki about Kimetsu no Yaiba that was created by the
                              fans, for the fans, and is dedicated to housing a useful and
                              informative database for all subject matter related to <a
                                      href="/wiki/Koyoharu_Got%C5%8Dge"
                                      title="Koyoharu Gotōge">Koyoharu Gotōge's</a> series
                              Kimetsu no Yaiba. <a href="/wiki/Help:Editing"
                                                   title="Help:Editing">Anyone can
                                edit</a>!</b> <b>We encourage users to help improve this
                              wiki even more. Check out the above links to get an idea of how
                              wiki editing works. Please read our Policies <a
                                      href="/wiki/Kimetsu_no_Yaiba_Wikia:Policies_and_guidelines"
                                      title="Kimetsu no Yaiba Wikia:Policies and guidelines">here</a></b>
                          </p>
                          <table style="float: centre; width:74%;margin-top:0em;color:#5e111f; text-shadow: 2px 2px 3px #5e111f; font-family:OCRF;">
                            <tbody>
                            <tr>
                              <td>
                                <div class="tally"><em>9,068</em><span class="fixedwidth">pages</span>
                                </div>
                              </td>
                              <td>
                                <div class="tally"><em>493</em><span class="fixedwidth">articles</span>
                                </div>
                              </td>
                              <td>
                                <div class="tally"><em>1,478</em><span class="fixedwidth">files</span>
                                </div>
                              </td>
                              <td>
                                <div class="tally"><em>26,842</em><span class="fixedwidth">edits</span>
                                </div>
                              </td>
                              <td>
                                <div class="tally"><em>537</em><span class="fixedwidth"
                                                                     style="width:55px">editor(s)</span>
                                </div>
                              </td>
                            </tr>
                            </tbody>
                          </table>
                          <table style="width: 100%;">
                            <tbody>
                            <tr>
                              <td style="text-align:center; background-image:-webkit-linear-gradient(left, #FFFFFF 0%, #d6b479 15%, #d6b479 85%, #FFFFFF 100%); color:#FFFFFF;">
                                <b>Warning: This Wiki Contains Spoilers! Please Read At Your
                                  Own Risk.</b>
                              </td>
                            </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                    <p><br>
                    </p>
                    <table>
                    </table>

                  </div>
                </div>


                <noscript>
                  <link rel="stylesheet"
                        href="https://slot1-images.wikia.nocookie.net/__cb1571855023717/common/extensions/wikia/ImageLazyLoad/css/ImageLazyLoadNoScript.css"/>
                </noscript>
              </div>



              <div class="printfooter">
                Retrieved from "<a
                        href="https://kimetsu-no-yaiba.fandom.com/wiki/Kimetsu_no_Yaiba_Wikia?oldid=26283">https://kimetsu-no-yaiba.fandom.com/wiki/Kimetsu_no_Yaiba_Wikia?oldid=26283</a>"
              </div>

              <div class="ve-spinner-fade" style="display: none;"></div>


            </div>

            <nav class="article-categories CategorySelect articlePage" id="articleCategories">
              <div class="container">
                <div class="special-categories"><a href="/wiki/Special:Categories"
                                                   title="Special:Categories" class="categoriesLink"
                                                   rel="nofollow">Categories</a>:
                </div>
                <ul class="categories">
                  <li class="category normal" data-name="Browse" data-namespace="" data-outertag=""
                      data-sortkey="" data-type="normal">
                                    <span class="name"><a href="/wiki/Category:Browse"
                                                          title="Category:Browse">Browse</a></span>
                    <ul class="toolbar">
                      <li class="tool editCategory sprite-small edit" title=""></li>
                      <li class="tool removeCategory sprite-small delete" title=""></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </nav>
            <nav class="WikiaArticleInterlang">
              <h3>Languages: </h3>
              <ul>
                <li><a data-tracking="ru" href="//kimetsu-no-yaiba.fandom.com/ru/wiki/">Русский</a>
                </li>
                <li><a data-tracking="zh-tw" href="//kimetsu-no-yaiba.fandom.com/zh-tw/wiki/">‪中文(台灣)‬</a>
                </li>
              </ul>
            </nav>

            <div class="license-description">
              Community content is available under <a href="https://www.fandom.com/licensing">CC-BY-SA</a>
              unless otherwise noted.
            </div>

          </div>
        </article><!-- WikiaMainContent -->



        <footer id="WikiaFooter" class="WikiaFooter notoolbar">
          <div id="bottomLeaderboardWrapper">

            <!-- BEGIN SLOTNAME: bottom_leaderboard -->
            <div id="bottom_leaderboard" class="wikia-ad noprint default-height gpt-ad">
            </div>
            <!-- END SLOTNAME: bottom_leaderboard -->
            <div id="_5b8f13805d-188-2-container"></div>
          </div>
          <div id="mixed-content-footer" class="mcf-en" data-number-of-wiki-articles="8"
               data-number-of-ns-articles="9">
            <div class="mcf-content">
              <h1 class="mcf-header">Fan Feed </h1>
              <div class="mcf-mosaic">
                <div class="mcf-column">
                  <div class="mcf-card mcf-card-wiki-articles">
                    <header class="mcf-card-wiki-articles__header"
                            style="background-image: url(https://vignette.wikia.nocookie.net/kimetsu-no-yaiba/images/0/0e/Community-header-background/revision/latest/zoom-crop/width/471/height/115?cb=20181213011001);">
                      <span class="mcf-card-wiki-articles__header-text">More Kimetsu no Yaiba Wikia</span>
                    </header>
                    <ul class="mcf-card-wiki-articles__list">

                      <li class="mcf-card-wiki-articles__item">
                        <a href="/wiki/Pillars" class="mcf-card-wiki-articles__item-link"
                           data-tracking="more-wiki-1" title="Pillars">
                          <span class="mcf-card-wiki-articles__circle">1</span>
                          <span class="mcf-card-wiki-articles__title">Pillars</span>
                        </a>
                      </li>

                      <li class="mcf-card-wiki-articles__item">
                        <a href="/wiki/Tanjiro_Kamado" class="mcf-card-wiki-articles__item-link"
                           data-tracking="more-wiki-2" title="Tanjiro Kamado">
                          <span class="mcf-card-wiki-articles__circle">2</span>
                          <span class="mcf-card-wiki-articles__title">Tanjiro Kamado</span>
                        </a>
                      </li>

                      <li class="mcf-card-wiki-articles__item">
                        <a href="/wiki/Nezuko_Kamado" class="mcf-card-wiki-articles__item-link"
                           data-tracking="more-wiki-3" title="Nezuko Kamado">
                          <span class="mcf-card-wiki-articles__circle">3</span>
                          <span class="mcf-card-wiki-articles__title">Nezuko Kamado</span>
                        </a>
                      </li>

                    </ul>
                  </div>

                  <div class="mcf-discussions-placeholder"></div>
                  <div class="mcf-card-ns-placeholder mcf-card-tall" data-tracking="footer-card-10"></div>
                  <div class="mcf-card-wiki-placeholder" data-tracking="footer-card-13"></div>
                  <div class="mcf-card-ns-placeholder" data-tracking="footer-card-16"></div>
                  <div class="mcf-card-wiki-placeholder mcf-card-tall"
                       data-tracking="footer-card-19"></div>
                </div>

                <div class="mcf-column">
                  <div class="mcf-card-ns-placeholder mcf-card-sponsored-content"
                       data-tracking="footer-card-2"></div>
                  <div class="mcf-card-ns-placeholder" data-tracking="footer-card-5"></div>
                  <div class="mcf-card-ns-placeholder" data-tracking="footer-card-8"></div>
                  <div class="mcf-card-wiki-placeholder" data-tracking="footer-card-11"></div>
                  <div class="mcf-card-ns-placeholder" data-tracking="footer-card-14"></div>
                  <div class="mcf-card-wiki-placeholder" data-tracking="footer-card-17"></div>
                  <div class="mcf-card mcf-card-related-wikis">
                    <header class="mcf-card-related-wikis__header">
                      Explore Wikis
                    </header>
                    <ul class="mcf-card-related-wikis__list">

                      <li class="mcf-card-related-wikis__item">
                        <a href="http://bit.ly/en-spotlight-madagascar"
                           class="mcf-card-related-wikis__item-link" data-tracking="explore-wikis-1"
                           title="Madagascar Wiki">
                          <img src="https://vignette.wikia.nocookie.net/penguinsofmadagascar/images/9/97/FANDOM_Spotlight_-_Proposed_Banner_Art.png/revision/latest/zoom-crop/width/100/height/56?cb=20190709142444"
                               class="mcf-card-related-wikis__item-image">
                          <div>
                            <span class="mcf-card-related-wikis__title">Madagascar Wiki</span>
                          </div>
                        </a>
                      </li>

                      <li class="mcf-card-related-wikis__item">
                        <a href="http://bit.ly/en-spotlight-universalconquest"
                           class="mcf-card-related-wikis__item-link" data-tracking="explore-wikis-2"
                           title="Universal Conquest Wiki">
                          <img src="https://vignette.wikia.nocookie.net/universeconquest/images/3/38/UC_Wiki_Image.png/revision/latest/zoom-crop/width/100/height/56?cb=20190712164346"
                               class="mcf-card-related-wikis__item-image">
                          <div>
                            <span class="mcf-card-related-wikis__title">Universal Conquest Wiki</span>
                          </div>
                        </a>
                      </li>

                      <li class="mcf-card-related-wikis__item">
                        <a href="http://bit.ly/en-spotlight-test-mixels"
                           class="mcf-card-related-wikis__item-link" data-tracking="explore-wikis-3"
                           title="Mixels Wiki">
                          <img src="https://vignette.wikia.nocookie.net/spotlightsimagestemporary/images/4/4c/Mixels-en.jpg/revision/latest/zoom-crop/width/100/height/56?cb=20190618182701"
                               class="mcf-card-related-wikis__item-image">
                          <div>
                            <span class="mcf-card-related-wikis__title">Mixels Wiki</span>
                          </div>
                        </a>
                      </li>

                    </ul>
                  </div>
                </div>

                <div class="mcf-column">
                  <div class="mcf-card-wiki-placeholder" data-tracking="footer-card-3"></div>
                  <div class="mcf-card-wiki-placeholder mcf-card-tall"
                       data-tracking="footer-card-6"></div>
                  <div class="mcf-card-wiki-placeholder" data-tracking="footer-card-9"></div>
                  <div class="mcf-card-ns-placeholder" data-tracking="footer-card-12"></div>
                  <div class="mcf-card-wiki-placeholder mcf-card-tall"
                       data-tracking="footer-card-15"></div>
                  <div class="mcf-card-ns-placeholder" data-tracking="footer-card-18"></div>
                  <div class="mcf-card-ns-placeholder" data-tracking="footer-card-21"></div>
                </div>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </section><!--WikiaPage-->
  </body>
</html>
